openapi: 3.0.3
info:
  title: Healthcare Platform API
  version: 1.0.0
  description: API documentation for the Healthcare platform

servers:
  - url: https://api-frappe-consultation-aa.redsofterp.com
    description: Production server

paths:
  /api/method/crm_virtual_consultation.api.get_doctors:
    get:
      summary: Get List of Doctors
      operationId: getDoctors
      responses:
        '200':
          description: List of doctors
          content:
            application/json:
              schema:
                type: object
                properties:
                  doctors:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        doctor_name:
                          type: string
                        specialization:
                          type: string
                        years_experience:
                          type: integer
                        average_rating:
                          type: number
                          format: float
                        profile_picture:
                          type: string
                          format: uri

  /api/method/crm_virtual_consultation.api.create_consultation:
    post:
      summary: Create One-to-One Consultation
      operationId: createConsultation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - doctor
                - patient
                - consultation_date
                - consultation_time
                - consultation_type
                - mode
              properties:
                doctor:
                  type: string
                patient:
                  type: string
                consultation_date:
                  type: string
                  format: date
                consultation_time:
                  type: string
                  format: time
                consultation_type:
                  type: string
                mode:
                  type: string
                  enum: [Online, Offline]
      responses:
        '200':
          description: Consultation created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  consultation_id:
                    type: string

  /api/method/crm_virtual_consultation.api.get_consultations:
    get:
      summary: Get Consultations (Doctor/Patient)
      operationId: getConsultations
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
        - name: role
          in: query
          required: true
          schema:
            type: string
            enum: [Doctor, Patient]
      responses:
        '200':
          description: List of consultations
          content:
            application/json:
              schema:
                type: object
                properties:
                  consultations:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        consultation_date:
                          type: string
                          format: date
                        consultation_time:
                          type: string
                          format: time
                        mode:
                          type: string
                        status:
                          type: string
                        meet_link:
                          type: string
                          format: uri

  /api/method/crm_virtual_consultation.api.submit_review:
    post:
      summary: Submit a Doctor Review
      operationId: submitReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - doctor
                - patient
                - rating
                - review_title
                - review_text
              properties:
                doctor:
                  type: string
                patient:
                  type: string
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                review_title:
                  type: string
                review_text:
                  type: string
      responses:
        '200':
          description: Review submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  review_id:
                    type: string

  /api/method/crm_virtual_consultation.api.get_reviews:
    get:
      summary: Get Reviews for a Doctor
      operationId: getDoctorReviews
      parameters:
        - name: doctor
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of reviews
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        patient:
                          type: string
                        rating:
                          type: integer
                        review_title:
                          type: string
                        review_text:
                          type: string
                        review_date:
                          type: string
                          format: date
